<a href="https://colab.research.google.com/github/xinihe/jrxy_portfolio_management/blob/master/baostock_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install baostock

Collecting baostock
  Downloading https://files.pythonhosted.org/packages/43/e2/b367c78db42bafcf752442b7d582ba2a724286313d9f126c5fee06064fb2/baostock-0.8.8-py3-none-any.whl (55kB)
     |████████████████████████████████| 61kB 4.5MB/s
Requirement already satisfied: pandas>=0.18.0 in /usr/local/lib/python3.7/dist-packages (from baostock) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.18.0->baostock) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.18.0->baostock) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.18.0->baostock) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.18.0->baostock) (1.15.0)
Installing collected packages: baostock
Successfully installed baostock-0.8.8

In [6]:
import baostock as bs
import pandas as pd

lg = bs.login()
rs = bs.query_history_k_data_plus("sh.600000",
    "date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST",
    start_date='2017-07-01', end_date='2017-12-31',
    frequency="d", adjustflag="3")
data_list = []
while (rs.error_code == '0') & rs.next():
    # 获取一条记录，将记录合并在一起
    data_list.append(rs.get_row_data())
result = pd.DataFrame(data_list, columns=rs.fields)

result

login success!

           date       code     open  ... tradestatus     pctChg isST
0    2017-07-03  sh.600000  12.6400  ...           1  -0.711456    0
1    2017-07-04  sh.600000  12.5500  ...           1  -0.079620    0
2    2017-07-05  sh.600000  12.5000  ...           1   0.557767    0
3    2017-07-06  sh.600000  12.6200  ...           1   0.316957    0
4    2017-07-07  sh.600000  12.6200  ...           1  -0.473929    0
..          ...        ...      ...  ...         ...        ...  ...
120  2017-12-25  sh.600000  12.6100  ...           1  -0.237716    0
121  2017-12-26  sh.600000  12.5700  ...           1   0.397142    0
122  2017-12-27  sh.600000  12.6500  ...           1  -0.158231    0
123  2017-12-28  sh.600000  12.6000  ...           1  -0.633914    0
124  2017-12-29  sh.600000  12.5200  ...           1   0.398726    0

[125 rows x 14 columns]